body {
  font-family: sans-serif;
  font-weight: 60;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.font-color {
  color: #d0d3db;
}

/*-----General Classes-----*/

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
}

.align-self {
  align-self: center;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-around {
  justify-content: space-around;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.bold {
  font-weight: bold;
}

.buttons {
  background-color: #1e222d;
  border: none;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 15px;
}

.inactive {
  color: rgb(208, 211, 219, 0.3);
}
/*-----Overview Page-----*/

/*For Overview.js*/
.overview {
  width: 100vw;
  height: 850px;
  background-color: #131722;
}

.overview-details {
  width: 1390px;
}

/*For PriceChart.js*/
.example-chart {
  width: 1250px;
}

.price-chart {
  height: 512px;
  width: 1300px;
  background: rgba(30, 34, 45, 0.3);
  border-radius: 15px;
}

.price-container {
  width: 100px;
  height: 19px;
  position: relative;
  left: 25px;
  font-weight: 700;
}

.usd {
  position: relative;
  top: 5px;
  font-size: x-small;
}

/*For Description.js*/
.description {
  width: 697px;
  height: 275px;
  background: rgba(30, 34, 45, 0.3);
  border-radius: 15px;
}
.company-details {
  position: relative;
  left: 47px;
}

.description-text {
  width: 600px;
  height: 200px;
}

/*For OverallDetermination.js*/
.overall-determination {
  width: 509px;
  height: 275px;
  background: rgba(30, 34, 45, 0.3);
  border-radius: 15px;
}

.stars-container {
  width: 87px;
  height: 88px;
}

.star {
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

.determination {
  width: 368px;
  height: 92px;
  position: relative;
  left: 10px;
}

.ending-text {
  width: 472px;
  height: 40px;
}

.header {
  width: 400px;
  font-weight: bolder;
  color: #ffffff;
  font-size: 24px;
}

/*-----FinancialsPage------*/
.main {
  width: 100vw;
  height: 850px;
  background-color: #131722;
}

.fin-nav {
  height: 35px;
  background-color: #1e222d;
}

.nav-button {
  font-size: 20px;
}

.card {
  border-radius: 15px;
  background: rgba(30, 34, 45, 0.3);
  width: 1300px;
  height: 800px;
}

.income-container {
  height: 300px;
}

.company-container {
  width: 400px;
  height: 130px;
  background-color: rgb(196, 196, 196, 0.1);
  color: #d0d3db;
  /* align-items: flex-start; */
}

.company-info {
  position: relative;
  left: 40px;
  top: 25px;
}
.company-name {
  color: #ffffff;
  font-size: 30px;
  font-weight: bolder;
  width: 300px;
}

.ticker-container {
  height: 25px;
  width: 120px;
}
.ticker {
  font-weight: bold;
  color: #1890ff;
}

.fin-button-container {
  position: relative;
  bottom: 15px;
  right: 25px;
  width: 150px;
}

.table {
  border: solid white;
  height: 300px;
}
