body {
  font-family: sans-serif;
  font-weight: 60;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
/*Rohan*/
.background {
  color: white;
}
.overview {
  align-content: center;
  justify-content: space-evenly;
  width: 1410px;
  height: 850px;
  background-color: #131722;
}

.overview-details {
  width: 1390px;
  justify-content: space-around;
  align-self: center;
}

.price-chart {
  /* border: solid red; */
  height: 512px;
  width: 1300px;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: #1e222d; */
  background: rgba(30, 34, 45, 0.3);
  border-radius: 15px;
}

.price {
  width: 143px;
  height: 40px;
}
.description {
  width: 697px;
  height: 275px;
  /* background-color: #1e222d; */
  background: rgba(30, 34, 45, 0.3);
}

.text {
  width: 600px;
  height: 200px;
}

.overall-determination {
  width: 509px;
  height: 275px;
  justify-content: space-between;
  /* background-color: rgb(30, 34, 45); */
  background: rgba(30, 34, 45, 0.3);
}

.stars {
  width: 87px;
  height: 88px;
  justify-content: space-evenly;
}

.star {
  height: 25px;
  width: 25px;
  background-color: red;
  border-radius: 50%;
}

.star-col {
  justify-content: space-evenly;
}
.determination {
  width: 368px;
  height: 92px;
  position: relative;
  left: 10px;
}

.ending-text {
  width: 472px;
  height: 40px;
}

.shape {
  border-radius: 15px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.center-self {
  align-self: center;
}

.space-around {
  justify-content: space-around;
}

.temp {
  justify-content: center;
}

.header {
  width: 200px;
  position: relative;
  left: 47px;
  font-weight: bolder;
}

.example-chart {
  width: 1250px;
  align-self: center;
  justify-content: center;
}

.price-container {
  width: 100px;
  height: 19px;
  /* border: solid green; */
  display: flex;
  justify-content: space-evenly;
  position: relative;
  left: 25px;
}

.bold-font {
  font-weight: bolder;
  /* border: solid; */
}
