@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Spartan', sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  font-family: 'Spartan', sans-serif;
  font-weight: 100;
  background-color: #131722;
  background: #131722;
  background-attachment: fixed;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.font-color {
  color: #d0d3db;
}

/*-----Rohan-----*/

/*-----General Classes-----*/

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
}

.align-self {
  align-self: center;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-around {
  justify-content: space-around;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.bold {
  font-weight: bold;
}

/* .buttons {
  background-color: #1e222d;
  border: none;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 15px;
} */

.inactive {
  color: rgb(208, 211, 219, 0.3);
}

.pos-rel {
  position: relative;
}
/*-----Rohan-----*/

.loading-page {
  height: calc(100vh - var(--mainHeaderHeight));
  width: 100vw;

  display: flex;
  justify-content: center;
  align-content: center;
}

.loading-page .lcontainer {
  /* margin: 10vh auto auto auto; */
  mask-origin: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  /* background-color: gray; */
}

.loading-page label {
  margin: none;
  font-size: 2.5rem;
  color: var(--fontColor);
  font-weight: 700;
  /* background-color: gainsboro; */
}

.loading-page .loader {
  margin: none;
  display: flex;
  justify-content: center;

  /* background-color: green; */
}
