.aboutus-container {
  padding: 1rem;
  font-weight: 300;
  height: calc(100vh - var(--mainHeaderHeight));
  width: 100vw;

  /** */

  background-image: url('../images/aboutUs.jpg');
  background-position: center;
  background-size: cover;

  /** */

  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: auto;
}

.aboutus-container::before {
  content: '';
  position: absolute;
  top: var(--mainHeaderHeight);
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.4);
}

.aboutus-hfont {
  position: relative;
  color: white;
  margin: auto;
  font-size: larger;
  font-weight: 700;
}
.aboutus p {
  position: relative;
  margin-top: 15px;
  color: var(--fontColor);
}

.aboutus {
  position: relative;
  background-color: rgba(30, 34, 45, 0.8);
  padding: 2rem;
  border-radius: 2rem;
  margin: 1rem;
  height: max-content;
  align-items: center;
  padding-top: 2.8rem;
}

.aboutus-sn {
  grid-column: 1 / span 9;
  grid-row: 1;
}

.aboutus-contact {
  padding: 1.4rem;
  grid-column: 18 / span 3;
  grid-row: 1;
  text-align: center;
}

.aboutus-careers {
  grid-column: 3 / span 9;
  grid-row: 2;
}

.aboutus-you {
  grid-column: 16 / span 5;
  grid-row: 8;
  text-align: center;
}
