* {
  --dashboardHeight: calc(100vh - var(--mainHeaderHeight));
  --dashboardWidth: 100vw;

  --dashMargin: 20px;
  --dashMargins: calc(var(--dashMargin) * 2);

  --dashboardSubHeight: calc(var(--dashboardHeight) - var(--dashMargins));
  --dashboardSubWidth: calc(var(--dashboardWidth) - var(--dashMargins));

  --dashboardGridHalfHeight: calc(var(--dashboardSubHeight) / 2);
  --dashboardGridHalfWidth: calc(var(--dashboardSubWidth) / 2.5);
}

.dashboard {
  height: var(--dashboardHeight);
  width: var(--dashboardWidth);

  background-image: url('../images/backer2-fast.jpg');
  background-position: center;
  background-size: cover;

  display: flex;
  font-weight: 300;
  /* background-color: green; */
}

.dashboard::before {
  content: '';
  position: absolute;
  top: var(--mainHeaderHeight);
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(4, 11, 24, 0.4);
}

.dash-container {
  position: relative;
  height: var(--dashboardSubHeight);
  width: var(--dashboardSubWidth);

  margin: auto;

  display: grid;
  grid-template-columns: var(--dashboardGridHalfWidth) calc(var(--dashboardSubWidth) / 1.75);
  grid-template-rows: 50%;
  justify-content: space-between;

  /* background-color: gray; */
}

.dash-grid {
}

/*
*==================================
*      NEWS FEED
*==================================
*/

* {
  --newsFeedHeaderHeight: 40px;
  --newsFeedScrollHeight: calc(var(--dashboardSubHeight) - var(--newsFeedHeaderHeight));
}

/** This is the newsfeed's container */
.dashboard .one {
  position: relative;
  grid-row: 1/2;
  grid-column: 1;

  height: var(--dashboardSubHeight);
  width: var(--dashboardGridHalfWidth);

  background-color: rgba(30, 34, 45, 0.7);
  /* background-color: gray; */
}

.dashboard .news-container {
  position: relative;
  background-color: rgba(30, 34, 45, 0.6);
  /** */
}

.dashboard .news-head {
  display: flex;
  justify-content: space-between;
  align-content: center;
  height: var(--newsFeedHeaderHeight);
  /* background-color: darkslateblue; */
  background-color: rgba(67, 70, 81, 0.2);
  /** */
}

.dashboard .news-head label {
  margin: auto;
  /* background-color: red; */

  font-size: 1.3rem;
  font-weight: 600;
  color: var(--fontColor);
  /** */
}

.dashboard .news-head .header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15px;
  /* background-color: gray; */
  overflow: hidden;
}

.dashboard .news-head .datepicker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 15px;
  /* background-color: green; */
}

.dashboard .news-scroll {
  height: var(--newsFeedScrollHeight);
  padding: 10px;
  /** */
}

/** ------------ DATE PICKER--------*/

.dinput {
  border-color: #434651;
  background-color: rgba(67, 70, 81, 0.5);
}

.ccalendar {
  background-color: #434651;
}

.tcalendar {
  /* background-color: #fe9700; */
}

.scalendar {
  background-color: #fe9700;
}

/** ------------ DATE PICKER--------*/
/** ------------ News Item -------- */
.dashboard .news-item {
  margin-bottom: 5px;

  display: flex;
  background-color: rgba(19, 23, 34, 0.6);
  /** */
}

.dashboard .news-item img {
  height: 100px;
  width: 100px;
  /* border-radius: 5px; */
  border: 3px solid var(--bgPrimary);
  /** */
}

.dashboard .news-item .news-content {
  /* background-color: burlywood; */

  color: var(--fontColor);

  width: calc(var(--dashboardGridHalfWidth) - 120px);
  /** */
}

.dashboard .news-item .news-content label {
  font-size: 1rem;
  font-weight: 500;
  color: var(--fontColor);

  margin: 10px;
  /** */
}

.dashboard .news-item .news-content .view {
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--fontColor);

  margin: 10px;
  /** */
}

.dashboard .news-item .news-content-full {
  /* background-color: forestgreen; */
  /** */
}

.dashboard .news-item .news-content-full span {
  margin-left: 10px;
}

.dashboard .news-item .fulltext {
  margin: 10px 0px 0px 10px;
  padding-right: 10px;
}

.dashboard .news-item .labeltext {
  display: flex;
}

.dashboard .news-item .labeltext span {
  margin: auto 0px;
}

.dashboard .news-item .redirect {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
}
.dashboard .news-item button {
  margin: 0px 5px 5px 0px;
  background-color: rgba(67, 70, 81, 0.5);
  color: rgba(208, 211, 219, 0.6);
  border: none;
  border-radius: 4px;

  transition: color 0.3s ease, background-color 0.3s ease;
}

.dashboard .news-item button:hover {
  background-color: rgba(67, 70, 81, 0.8);
  color: rgba(208, 211, 219, 1);
}

/** ------------ News Item -------- */

/*
*==================================
*      STOCK CHART CONTAINER
*==================================
*/

/** This is the stock chart container*/
.dashboard .two {
  grid-row: 1;
  grid-column: 2;
  /* background-color: brown; */
}

/** ------------ Chart Itself -------- */

.dashboard .wrapper {
  position: relative;
  height: calc(var(--dashboardGridHalfHeight));
  width: calc(var(--dashboardSubWidth) / 1.75);
  background-color: rgba(30, 34, 45, 0.4);
  border-radius: 30px;
}

.dashboard .stock-price-chart {
  height: calc(var(--dashboardGridHalfHeight) - 35px);
  width: calc(var(--dashboardSubWidth) / 1.75);
}

/** ------------ Chart Selector -------- */

.dashboard .selector {
  height: 35px;
  display: flex;
  justify-content: flex-start;
  /* justify-content: space-between; */
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.dashboard .selector label {
  position: relative;
  margin: auto 10px auto 30px;
  font-weight: 600;
  /* font-size: 1.1rem; */
  color: var(--fontColor);
}

.dashboard .selector .dropdown-selector {
  margin: auto 5px;
  color: rgba(208, 211, 219, 0.6);
}

.dashboard .selector .dropdown-selector button {
  margin: 2px 5px;
  background-color: rgba(9, 18, 41, 0.3);
  border: none;
}

.dashboard .selector .show .dropdown-toggle {
  background-color: #1e222d;
  border: none;
}

/*
*==================================
*     CONTAINER words
*==================================
*/

.dashboard .four {
  grid-row: 2;
  grid-column: 2;
  position: relative;

  height: calc(var(--dashboardGridHalfHeight) - 30px);
  width: calc(var(--dashboardSubWidth) / 1.75);
  /* background-color: rgba(30, 34, 45, 0.2); */
  border-radius: 30px;

  margin-top: 30px;
  padding: 30px;

  color: var(--fontColor);
}

.four .dash-text .statsnine {
  font-weight: 700;
  font-size: 1.8rem;
}

.four .dash-text .welcome {
  font-weight: 500;
  font-size: 1rem;
  margin-left: 10px;
  margin-bottom: 35px;
}

.four .scrolltext {
  border-left: solid 3px gray;
  padding-left: 10px;
  max-height: calc(var(--dashboardGridHalfHeight) - 190px);
}

.four .dash-text .innertexts {
  font-weight: 400;
  font-size: 0.9rem;
  margin-bottom: 15px;
  color: rgba(208, 211, 219, 0.8);
}
