/**----------------------------**/
/** MAIN PARTS TO THE FINANCIALS PAGE
/**----------------------------**/

* {
  /** Financials view height and width */
  --financialsViewHeight: calc(100vh - (var(--mainHeaderHeight) + var(--subHeaderHeight)));
  --financialsViewWidth: 100vw;

  /** Financials view margins */
  --financialsViewMargin: 20px;
  --financialsViewMargins: calc(var(--financialsViewMargin) * 2);

  /** Financials main container */
  --financialsContainerHeight: calc(var(--financialsViewHeight) - var(--financialsViewMargins));
  --financialsContainerWidth: calc(var(--financialsViewWidth) - var(--financialsViewMargins));

  /** Financials border radius */
  --financialsBorderRadius: 30px;

  /** Financials selector nav bar height */
  --financialsNavBarHeight: calc(var(--financialsContainerHeight) / 22);

  /** Financials page under nav bar height and width */
  --financialsPageHeight: calc(var(--financialsContainerHeight) - var(--financialsNavBarHeight));
  --financialsPageWidth: var(--financialsContainerWidth);

  /** Financials padding for the page */
  --financialsPagePadding: 10px;
  --financialsPagePaddings: calc(var(--financialsPagePadding) * 2);

  /** Financials padded page height and width */
  --financialsPaddedPageHeight: calc(var(--financialsPageHeight) - var(--financialsPagePaddings));
  --financialsPaddedPageWidth: calc(var(--financialsPageWidth) - var(--financialsPagePaddings));

  /** Financials top portion of page */
  --financialsCompanyChartHeight: calc(var(--financialsPaddedPageHeight) / 2.5);
  /* --financialsCompanyChartWidth: calc(
    var(--financialsPaddedPageWidth) - var(--financialsPageMargins)
  ); */

  --financialsCompanyChartWidth: calc(var(--financialsPaddedPageWidth) / 1.5);

  /** Gap between top and bottom portions of page */
  --financialsGapBetween: 5px;

  /** Financials bottom portion of page */
  --financialsTableHeight: calc(
    var(--financialsPaddedPageHeight) - var(--financialsCompanyChartHeight) -
      var(--financialsGapBetween)
  );
  --financialsTableWidth: var(--financialsPaddedPageWidth);
}

/*The Large Container*/
/*Main*/
/*All it contains is the sub-container*/
.financials-container {
  /** visual aid */
  /* border: dashed green; */
  /** visual aid */
  height: var(--financialsViewHeight);
  width: var(--financialsViewWidth);
  overflow: hidden;
  display: flex;
  justify-content: center;
}

/*The Sub Container*/
/*Sub container contains 2 items, the NAV BAR and the PAGE*/
.financials-sub-container {
  /** visual aid */
  /* background-color: gray; */
  /** visual aid */
  height: var(--financialsContainerHeight);
  width: var(--financialsContainerWidth);
  margin: auto;
  display: flex;
  flex-direction: column;
  border-radius: var(--financialsBorderRadius);
  /* justify-content: space-evenly; */
}

/**----------------------------**/
/** NAV BAR
/**----------------------------**/

/*The Navigation Bar*/
/*This is where we select a sub page(Income, Balance, Cash, Enterprise)*/
.financials-selector-nav {
  /** visual aid */
  /* border: solid red; */
  /** visual aid */
  height: var(--financialsNavBarHeight);
  display: flex;
}

/*This houses each selector*/
.fin-selectors {
  /** visual aid */
  /* border: solid rgb(0, 89, 255); */
  /** visual aid */
  display: flex;
  justify-content: space-evenly;
  color: white;
  /* width: 900px; */
}

/**----------------------------**/
/** PAGE
/**----------------------------**/

/*The PAGE conatins the COMPANY NAME, CHART, DATES and TABLE*/
.page {
  /** visual aid */
  /* background-color: rgba(255, 255, 255, 0.2); */
  /** visual aid */
  padding: 10px 0px;
  height: var(--financialsPageHeight);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(30, 34, 45, 0.3);
}

/**----------------------------**/
/** COMPANY AND CHART CONTAINER
/**----------------------------**/

/*This is the container right below the navigation bar. It contains the company info and the chart*/
.fin-top-container {
  display: flex;
  justify-content: space-between;
  /* background-color: rgb(250, 128, 114, 0.4); */
  /* height: 300px; */
  /* width: 98vw; */
  /** visual aid */
  /* background-color: burlywood; */
  /** visual aid */
  height: var(--financialsCompanyChartHeight);
  padding: 0px 15px;
}

/*Conatins company name*/
.company-container {
  /** visual aid */
  /* border: solid rgb(226, 136, 108); */
  /** visual aid */
  /* width: 600px; */
  background-color: rgba(30, 34, 45, 0.6);
  color: #d0d3db;
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.1), -5px 5px rgb(0, 0, 0, 0.1);
}

/*The div that contains the chart*/
.fin-chart-container {
  border: solid thin rgb(0, 0, 0, 0.1);
  /* width: 62vw; */
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.1), -5px 5px rgb(0, 0, 0, 0.1);
  height: var(--financialsCompanyChartHeight);
  width: var(--financialsCompanyChartWidth);
  /** visual aid */
  /* border: solid rgb(236, 145, 118); */
  /** visual aid */
}

.fin-button-container {
  height: 30px;
}

.fin-button-container button {
  margin-left: 15px;
}

/*The actual chart*/
.fin-chart {
  height: calc(var(--financialsCompanyChartHeight) - 30px);
  width: var(--financialsCompanyChartWidth);
  /* border: solid green; */
  /* width: 62vw;
  height: 230px; */
}

/**----------------------------**/
/** DATE AND TABLE CONTAINER
/**----------------------------**/

.fin-table-container {
  /** visual aid */
  /* background-color: darkslateblue; */
  /** visual aid */
  height: var(--financialsTableHeight);
}

/*This is a small 1 row table containing the dates that sits on top of the main table*/
/*It is not inside the scroll container and therefor does not scroll*/
.fin-date {
  font-weight: lighter;
  background-color: transparent;
  border: transparent;
  text-align: center;
  font-size: 12px;
  color: rgb(171, 171, 171);
  height: 45px;
  width: var(--financialsTableWidth);
  margin: auto;
  /* width: 96vw; */
  table-layout: fixed;
  align-self: center;
  /** visual aid */
  /* border: solid rgb(72, 114, 168); */
  /** visual aid */
}

/*The scroll container that houses the table*/
.fin-table-scroll {
  /* height: 300px; */
  /* width: 96vw; */
  align-self: center;
  height: calc(var(--financialsTableHeight) - 45px);
  width: var(--financialsTableWidth);
  margin: auto;
  /** visual aid */
  /* border: solid blue; */
  /** visual aid */
  box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.1), -5px 5px 10px rgb(0, 0, 0, 0.1);
}

/*The table it self*/
.fin-table {
  /** visual aid */
  /* background-color: darkslateblue; */
  /** visual aid */
  width: var(--financialsTableWidth);
  color: #d0d3db;
  background-color: transparent;
  /* height: 300px; */
  table-layout: fixed;
  /* width: 96vw; */
}

/*------------------------------*/
/*THIS IS FOR STYLING THE NAV BUTTONS
/*IT'S MOSTLY THE SAME AS BRYNNERS CODE FOR HIS NAV BAR
/*THE VARIABLES ARE AVAILABLE IN ALL CSS FILES SO I THINK
/*WE CAN USE THOSE FOR CALCULATIONS
/*------------------------------*/
.financials-selector-nav {
  /* height: var(--metricsSelectorHeight); */
  background-color: rgba(30, 34, 45, 0.3);
  display: flex;
  border-top-left-radius: var(--metricsSubcontainerBorderRadius);
  border-top-right-radius: var(--metricsSubcontainerBorderRadius);

  border-bottom: 2px solid var(--bgAccent);

  overflow: hidden;
}

.financials-selector-nav .fin-selectors {
  margin: auto 35px;
  display: flex;
  font-size: 1.1rem;
  font-weight: 700;
}

.financials-selector-nav .fin-selectors label {
  margin-top: 5px;
  margin-right: 25px;
  color: rgba(208, 211, 219, 0.2);
  transition: font-size 0.3s ease, color 0.3s ease;
}

.financials-selector-nav .fin-selectors label:hover {
  color: rgba(208, 211, 219, 0.6);
}

.financials-selector-nav .fin-selectors .selected {
  color: rgba(208, 211, 219, 0.6);
}

.financials-selector-nav .fin-selectors .selected:hover {
  color: rgba(208, 211, 219, 0.8);
}
