/**Financialspage.js**/
.main {
  width: 100vw;
  height: 850px;
  background-color: #131722;
}

.fin-nav {
  height: 35px;
  border-bottom: solid #434651;
}

.nav-button {
  background-color: transparent;
  font-size: 20px;
}

/**Income.js**/
.income-container {
  height: 300px;
  width: 98vw;
}

.company-container {
  top: 25px;
  left: 15px;
  width: 600px;
  height: 230px;
  background-color: rgba(30, 34, 45, 0.6);
  color: #d0d3db;
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.1), -5px 5px rgb(0, 0, 0, 0.1);
}

.company-info {
  width: 530px;
  left: 40px;
  top: 25px;
}
.company-name {
  color: #ffffff;
  font-size: 30px;
  width: 300px;
}

.ticker-container {
  height: 25px;
  width: 120px;
}
.ticker {
  color: #1890ff;
}

.fin-button-container {
  bottom: 15px;
  right: 10px;
  width: 200px;
}

/**Fin Table**/
.fin-row:hover {
  background-color: rgba(120, 40, 40, 0.5);
}

.fin-row {
  height: 50px;
  color: white;
  border: solid thin rgba(113, 113, 113, 0.1);
}
.fin-col {
  color: white;
  border: solid thin rgba(113, 113, 113, 0.1);
}

.fin-label {
  text-align: left;
  font-weight: lighter;
  font-size: small;
}
.center-text {
  text-align: center;
  font-size: smaller;
}
.light {
  background-color: rgba(110, 110, 110, 0.1);
  font-weight: 500;
}

.dark {
  background-color: rgb(30, 34, 45, 0.3);
  border: transparent;
  font-weight: 500;
}

.fin-table {
  padding: 1rem;
  font-size: 1.15rem;
  margin: 1rem;
  color: #d0d3db;
  background-color: #131722;
  /* height: 300px; */
  table-layout: fixed;
  width: 1847px;
}

.temp-class {
  overflow-y: auto;
  height: 375px;
}
.temp-class::-webkit-scrollbar-corner {
  box-shadow: inset 0 0 5px rgb(30, 45, 81);
}
/* width */
.temp-class::-webkit-scrollbar {
  /* display: none; */
  width: 5px;
}

/* Track */
.temp-class::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(30, 45, 81);
  border-radius: 1px;
}

/* Handle */
.temp-class::-webkit-scrollbar-thumb {
  background: rgb(7, 9, 33);
  border-radius: 1px;
}
.table-space {
  width: 1266px;
  height: 300px;
  color: white;
  margin: 1rem;
}

.fin-date {
  font-weight: lighter;
  background-color: rgb(30, 34, 45, 0.3);
  border: transparent;
  text-align: center;
  font-size: small;
}

.fin-chart-container {
  width: 62vw;
  align-self: center;
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.1), -5px 5px rgb(0, 0, 0, 0.1);
}

.fin-chart {
  width: 63vw;
  height: 275px;
}

.yearly-change {
  font-size: x-small;
  color: greenyellow;
}

.red {
  color: rgb(251, 0, 0);
  font-size: x-small;
}

.green {
  color: yellowgreen;
  font-size: x-small;
}

.fin-button-container {
  left: 675px;
  bottom: 280px;
}

.fin-buttons {
  background-color: #1e222d;
  border: none;
  color: lightgray;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 15px;
}

.fin-company-logo {
  height: 100px;
  width: 100px;
}
