/**Financialspage.js**/
.main {
  width: 100vw;
  height: 850px;
  background-color: #131722;
}

.fin-nav {
  height: 35px;
  border-bottom: solid #434651;
}

.nav-button {
  background-color: transparent;
  font-size: 20px;
}

.card {
  border-radius: 15px;
  background: rgba(30, 34, 45, 0.3);
  width: 1300px;
  height: 800px;
}

/**Income.js**/
.income-container {
  height: 300px;
}

.company-container {
  width: 400px;
  height: 130px;
  background-color: rgb(196, 196, 196, 0.1);
  color: #d0d3db;
}

.company-info {
  left: 40px;
  top: 25px;
}
.company-name {
  color: #ffffff;
  font-size: 30px;
  width: 300px;
}

.ticker-container {
  height: 25px;
  width: 120px;
}
.ticker {
  color: #1890ff;
}

.fin-button-container {
  bottom: 15px;
  right: 10px;
  width: 200px;
}

.fin-table {
  /* border: solid white; */
  height: 300px;
}

.fin-row {
  height: 50px;
  color: white;
}
.fin-col {
  color: white;
}
.fin-date-container {
  border: solid red;
  color: white;
}

.fin-info {
  width: 200px;
  border: solid green;
  color: white;
  align-content: flex-end;
}

.fin-date {
  border: solid white;
  width: 200px;
  height: 30px;
}

.center-text {
  text-align: center;
  font-size: smaller;
}
.light {
  background-color: rgba(255, 255, 255, 0.1);
}

.dark {
  background-color: rgba(95, 95, 95, 0.1);
}

.fin-table {
  padding: 1rem;
  font-size: 1.15rem;
  margin: 1rem;
  color: #d0d3db;
  background-color: #131722;
}

.table-space {
  width: 1266px;
  height: 300px;
  color: white;
  margin: 1rem;
}
