.our-company-header {
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0 0.2rem 0.1rem #434651;
  padding: 1rem;
  font-size: 1.25rem;
  height: 5rem;
  width: 100vw;
  display: flex;
  flex-direction: row;
  color: #d0d3db;
  background-color: #131722;
}

.our-company-name {
  color: #ffffff;
  font-size: 1.75rem;
  font-weight: 700;
  margin-left: 2rem;
}

.header-space-one {
  flex-grow: 2;
}

.top-search-bar {
  margin-left: 2rem;
  margin-right: 1rem;
}

.top-search-input {
  border-radius: 1.5rem;
  background-color: #434651;
  font-size: 1.25rem;
  width: 38rem;
  color: lightgray;
  padding: 0.3rem;
  padding-left: 1rem;
}

.header-space-two {
  flex-grow: 1;
}

.go-to-dashboard,
.go-to-screener,
.go-to-about-us {
  margin: 1rem;
  font-weight: 500;
}

.go-to-dashboard:hover,
.go-to-screener:hover,
.go-to-about-us:hover {
  cursor: pointer;
}
