* {
  --headerHeight: 80px;
  --subHeaderHeight: 40px;

  --metricsPageHeight: calc(100vh - (var(--subHeaderHeight) + var(--headerHeight)));
  --metricsPageWidth: 100vw;

  --metricsMargin: 20px;
  --metricsMargins: calc(var(--metricsMargin) * 2);

  --metricsSubcontainerHeight: calc(var(--metricsPageHeight) - var(--metricsMargins));
  --metricsSubcontainerWidth: calc(var(--metricsPageWidth) - var(--metricsMargins));

  --metricsSubcontainerBorderRadius: 30px;

  --metricsSelectorHeight: calc(var(--metricsSubcontainerHeight) / 22);

  --metricsInnercontainerHeight: calc(
    var(--metricsSubcontainerHeight) - var(--metricsSelectorHeight)
  );
  --metricsInnercontainerWidth: var(--metricsSubcontainerWidth);

  --metricsInnercontainerPadding: 10px;
  --metricsInnercontainerPaddings: calc(var(--metricsInnercontainerPadding) * 2);

  --metricInnerSubcontainerHeight: calc(
    var(--metricsInnercontainerHeight) - var(--metricsInnercontainerPaddings)
  );

  --metricInnerSubcontainerWidth: calc(
    var(--metricsInnercontainerWidth) - var(--metricsInnercontainerPaddings)
  );

  --metricsOverviewWidth: calc(var(--metricInnerSubcontainerWidth) / 4);
  --metricsChartviewWidth: calc(var(--metricInnerSubcontainerWidth) - var(--metricsOverviewWidth));

  --chartGap: 5px;
  --chartPadding: 0px;
  --chartPaddings: calc(var(--chartPadding) * 2);

  --metricsChartContainerHeight: calc((var(--metricInnerSubcontainerHeight) / 2) - var(--chartGap));

  --metricsChartWrapperHeight: calc(var(--metricsChartContainerHeight) - var(--chartPaddings));
  --metricsChartWrapperWidth: calc(var(--metricsChartviewWidth) - var(--chartPaddings));
}

/*
*==================================
*      KEY METRICS CONTAINERS
*==================================
*/

*,
body {
  font-family: 'Spartan', sans-serif;
}

.key-metrics-container {
  background-color: var(--bgPrimary);
  height: var(--metricsPageHeight);
  width: var(--metricsPageWidth);

  display: flex;
  justify-content: center;

  /* TODO color*/
  background-color: gray;
}

.key-metrics-container .sub-container {
  background-color: rgba(30, 34, 45, 0.3);
  height: var(--metricsSubcontainerHeight);
  width: var(--metricsSubcontainerWidth);

  display: flex;
  flex-direction: column;

  margin: auto;
  border-radius: var(--metricsSubcontainerBorderRadius);

  /* TODO color*/
  background-color: green;
}

/*
*==================================
*      KEY METRICS SELECTOR
*==================================
*/

.key-metrics-selector {
  height: var(--metricsSelectorHeight);

  display: flex;
  /** Match border radius of parent */
  border-top-left-radius: var(--metricsSubcontainerBorderRadius);
  border-top-right-radius: var(--metricsSubcontainerBorderRadius);

  border-bottom: 3px solid var(--bgAccent);
  /* TODO color*/
  background-color: brown;

  overflow: hidden;
}

/** The tabs container */
.key-metrics-selector .selectors {
  margin: auto 35px;

  display: flex;

  font-size: 1.1rem;
  font-weight: 700;

  /* TODO color*/
  /* background-color: burlywood; */
}

/** These are the tabs */
.key-metrics-selector .selectors label {
  margin-top: 5px;
  margin-right: 25px;
  color: rgba(208, 211, 219, 0.2);
  transition: font-size 0.3s ease, color 0.3s ease;
}

/** These are the tabs */
.key-metrics-selector .selectors label:hover {
  color: rgba(208, 211, 219, 0.6);
}

/** Used to highlight selected tab */
.key-metrics-selector .selectors .selected {
  color: rgba(208, 211, 219, 0.6);
}

/** Used to highlight selected tab */
.key-metrics-selector .selectors .selected:hover {
  color: rgba(208, 211, 219, 0.8);
}

/*
*==================================
*      KEY METRIC CONTINER
*==================================
*/

.key-metrics-container .metric-container {
  height: var(--metricsInnercontainerHeight);
  width: var(--metricsInnercontainerWidth);

  display: flex;

  /* TODO color*/
  background-color: rgba(255, 255, 255, 0.2);
}

/*
*==================================
*      MAIN METRIC PAGE
*==================================
*/

/** This is the star icon*/
.metric-star {
  width: 24px;
  height: 24px;
}

.key-metrics-container .metric-sub-container {
  margin: auto;

  height: var(--metricInnerSubcontainerHeight);
  width: var(--metricInnerSubcontainerWidth);

  /*! FLEX */
  display: flex;

  /* display: grid;  */
  /** Grid size */
  /* grid-template-columns: 25%; */

  /* TODO color*/
  background-color: rgba(255, 255, 255, 0.2);
}

/*
*=========[ METRIC CONTAINER ]============
*/

.metric-sub-container .metric-metrics {
  grid-column: 1;

  height: var(--metricInnerSubcontainerHeight);
  width: var(--metricsOverviewWidth);
  /* margin: auto; */
  display: flex;

  /* TODO color*/
  background-color: rgba(146, 23, 23, 0.2);
}

.metric-metrics .metrics {
  display: flex;
  flex-direction: column;
  justify-content: center;

  flex: 1;
  margin-left: 10%;

  /* TODO color*/
  /* background-color: gray; */
}

/** Individual metric container */
.metric-metrics .metrics .metric {
  color: var(--fontColor);
  overflow: hidden;
}

/** Used to adjust the location of the metrics */
.metric-metrics .metrics .metric-spacer {
  flex: 1;
}

/** Title of each metric */
.metric-metrics .metrics .metric label {
  margin: 30px 0px 5px 44px;
  font-weight: 600;
}

/** The desc of each metric*/
.metric-metrics .metrics .metric span {
  margin: auto 20px;
  font-weight: 400;
}

/*
*=========[ CHARTS CONTAINER ]============
*/

.metric-sub-container .metric-charts {
  grid-column: 2;
  height: var(--metricInnerSubcontainerHeight);
  width: var(--metricsChartviewWidth);

  /* display: grid; */
  /* grid-template-rows: 50%; */

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  /* row-gap: 10px; */

  /* TODO color*/
  background-color: rgba(31, 15, 90, 0.6);
}

.metric-charts .metric-chart {
  height: var(--metricsChartContainerHeight);
  width: var(--metricsChartviewWidth);

  /* border-radius: 30px; */

  /* TODO color*/
  background-color: rgba(225, 225, 225, 0.4);
}

.metric-charts .metric-chart .wrapper {
  /* height: calc((100%) - (var(--chartPadding) * 2)); */
  /* width: calc((100%) - (var(--chartPadding) * 2)); */

  margin: auto;
  margin-top: var(--chartPadding);

  /** chart height minus selector height */
  height: calc(var(--metricsChartWrapperHeight) - 30px);
  width: var(--metricsChartWrapperWidth);

  /* background-color: rgba(160, 160, 37, 0.03); */
  background-color: rgba(223, 223, 35, 0.4);
}

.metric-charts .metric-chart .stock-price-chart {
  /* height: calc((100%) - (var(--chartPadding) * 2)); */
  /* width: calc((100%) - (var(--chartPadding) * 2)); */
  /* border-radius: 30px; */

  /** chart height minus selector height */
  height: calc(var(--metricsChartWrapperHeight) - 30px);
  width: var(--metricsChartWrapperWidth);
}

/*
*=========[ CHART SELECTOR ]============
*/

.selector {
  height: 30px;
  display: flex;
  justify-content: space-between;
}

.selector label {
  margin: auto 10px;
  font-weight: 600;
  /* font-size: 1.1rem; */
  color: var(--fontColor);
}

.selector .dropdown-selector {
  margin: auto 20px;
}

.selector .dropdown-selector button {
  background-color: rgba(30, 34, 45, 0.3);
  border: none;
}

.selector .show .dropdown-toggle {
  background-color: #1e222d;
  border: none;
}
