* {
  --qualityHalfHeight: calc(var(--metricInnerSubcontainerHeight) / 2);
  --qualityHalfWidth: var(--metricInnerSubcontainerWidth);

  --roicChartSelectorHeight: 50px;
  --roicChartPadding: 20px;
  --roicChartPaddings: calc(var(--roicChartPadding) * 2);
  --roicChartWidthMulti: 3;
  --roicChartsWidth: calc(
    (var(--qualityHalfWidth) / var(--roicChartWidthMulti)) - var(--roicChartPaddings)
  );
  --roicChartHeight: calc(
    ((var(--qualityHalfHeight) - var(--roicChartSelectorHeight)) - var(--roicChartPaddings))
  );

  --roicMetricWidth: calc(
    ((var(--qualityHalfWidth) - var(--roicChartsWidth)) / 2) + (var(--roicChartPaddings) * 2)
  );

  --metricSharesWidth: calc(var(--qualityHalfWidth) / 3);
  --metricSharesChartWidth: calc(var(--qualityHalfWidth) - var(--metricSharesWidth));
}

.qload {
  margin: auto;
  text-align: center;
  font-weight: bold;
  font-size: 1.3rem;
  color: var(--fontColor);
}

.key-metrics-container .quality-subcontainer {
  margin: auto;

  height: var(--metricInnerSubcontainerHeight);
  width: var(--qualityHalfWidth);

  /*! FLEX */
  display: flex;
  flex-direction: column;

  /* display: grid;  */
  /** Grid size */
  /* grid-template-columns: 25%; */

  /* TODO color*/
  /* background-color: rgba(255, 255, 255, 0.2); */
}

.quality-subcontainer .qualityhalf {
  height: var(--qualityHalfHeight);
  width: var(--qualityHalfWidth);

  /* TODO color*/
  /* background-color: rgba(255, 255, 255, 0.2); */
}

/*
*==================================
*      QUALITY UPPER HALF
*==================================
*/

.quality-subcontainer .upper {
  display: flex;
  /* padding-top: 15px; */
}

/** Container of the two pie charts*/
.quality-subcontainer .upper .roic-charts {
  display: flex;
  height: var(--qualityHalfHeight);
  width: var(--roicChartsWidth);
}

.roic-charts .roic-chart {
  display: flex;
  flex-direction: column;
  /* padding-top: 10px; */
  /* padding: var(--roicChartPadding); */
  /* background-color: brown; */
}

.roic-charts .roic-selector {
  text-align: center;
  color: var(--fontColor);
  font-weight: 500;

  /* background-color: green; */
  height: var(--roicChartSelectorHeight);
}

.roic-selector span {
  font-weight: 400;
}

.roic-charts .wrapper {
  height: var(--roicChartHeight);
  width: calc(var(--roicChartsWidth) / 2);
}

.stock-roic-chart {
  height: var(--roicChartHeight);
  width: calc(var(--roicChartsWidth) / 2);
}

/*
*==================================
*      METRIC ITSELF
*==================================
*/

/** Individual metric container */
.metric-roic {
  color: var(--fontColor);
  /* overflow: hidden; */

  margin: auto 15px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  width: var(--roicMetricWidth);

  /* background-color: burlywood; */
}

/** Title of each metric */
.metric-roic label {
  margin: 30px 0px 5px 44px;
  font-weight: 600;
}

/** The desc of each metric*/
.metric-roic span {
  margin: auto 20px;
  font-weight: 400;
}

/** The desc of each metric*/
.metric-roic .king {
  color: var(--orangeShade2);
  margin: auto 20px;
  font-weight: 400;
}

/** The desc of each metric*/
.metric-roic .result {
  /* margin: 15px 20px auto 0px; */
  font-weight: 400;
}

/** The desc of each metric*/
.metric-roic .desc {
  text-align: center;
  margin: auto;
}

.metric-roic .desc p {
  margin-top: 10px;
  color: rgba(208, 211, 219, 0.5);
  font-size: 0.8rem;
  font-weight: 200;
}

/** The desc of each metric*/
.metric-roic .metric-item {
  margin-bottom: 10px;
}

/** The preview of each metric*/
.metric-roic .previewcontainer {
  display: flex;
  justify-content: center;
  margin: 20px auto;
}

/** The preview of each metric*/
.metric-roic .preview {
  background-color: rgba(30, 34, 45, 0.2);
  border-radius: 45px;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 5px 15px;
}

.metric-roic .preview .prev-wrapper {
  overflow: hidden;
}

/** The preview of each metric*/
.metric-roic .preview table {
  border-spacing: 5px;
  border-collapse: separate;
}

/** The preview of each metric*/
.metric-roic .preview td {
  border-radius: 10px;
  /* background-color: rgba(67, 70, 81, 0.1); */
  color: rgba(208, 211, 219, 0.7);
  font-weight: 300;
  font-size: 0.7rem;
}

/** The preview of each metric*/
.metric-roic .preview .head {
  font-weight: 400;
  font-size: 0.8rem;
}

/*
*==================================
*      QUALITY LOWER HALF
*==================================
*/

.quality-subcontainer .lower {
  display: flex;
  /* padding-top: 15px; */
  /* background-color: gray; */
}

/*
*==================================
*      METRIC ITSELF
*==================================
*/

/** Individual metric container */
.metric-shares {
  color: var(--fontColor);
  /* overflow: hidden; */

  /* margin: auto 15px; */
  flex: 1;
  margin-left: 20px;
  margin-right: 25px;

  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */

  text-align: left;
  width: var(--metricSharesWidth);

  /* background-color: rgba(208, 211, 219, 0.2); */
}

/** Title of each metric */
.metric-shares label {
  font-weight: 600;
}

/** The desc of each metric*/
.metric-shares span {
  font-weight: 400;
}

/** The desc of each metric*/
.metric-shares .king {
  color: var(--orangeShade2);
  margin: auto 20px;
  font-weight: 400;
}

/** The desc of each metric*/
.metric-shares .result {
  /* margin: 15px 20px auto 0px; */
  font-weight: 400;
}

/** The desc of each metric*/
.metric-shares .desc {
  text-align: left;
  margin: auto;
}

.metric-shares .desc p {
  margin-top: 10px;
  color: rgba(208, 211, 219, 0.5);
  font-size: 0.8rem;
  font-weight: 200;
}

/** The desc of each metric*/
.metric-shares .metric-item {
  margin-bottom: 10px;
}

/** The preview of each metric*/
.metric-shares .previewcontainer {
  display: flex;
  justify-content: center;
  margin: 20px auto;
}

/** The preview of each metric*/
.metric-shares .preview {
  background-color: rgba(30, 34, 45, 0.2);
  padding: 5px 15px;
  border-radius: 45px;
  text-align: center;
  display: flex;
  justify-content: center;
  width: 60%;
}

.metric-shares .preview .prev-wrapper {
  overflow: hidden;
}

/** The preview of each metric*/
.metric-shares .preview table {
  border-spacing: 5px;
  border-collapse: separate;
}

/** The preview of each metric*/
.metric-shares .preview td {
  border-radius: 10px;
  /* background-color: rgba(67, 70, 81, 0.1); */
  color: rgba(208, 211, 219, 0.7);
  font-weight: 300;
  font-size: 0.7rem;
}

/** The preview of each metric*/
.metric-shares .preview .head {
  font-weight: 400;
  font-size: 0.8rem;
}

.shares-outstanding-chart {
  height: var(--qualityHalfHeight);
  width: var(--metricSharesChartWidth);
  border-radius: 30px;
}

.shares-outstanding-chart .selector {
  height: 35px;
  display: flex;
  justify-content: flex-start;
  /* justify-content: space-between; */
  background-color: rgba(30, 34, 45, 0.3);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.shares-outstanding-chart .wrapper {
  height: calc(var(--qualityHalfHeight) - 35px);
  width: var(--metricSharesChartWidth);
  background-color: rgba(30, 34, 45, 0.3);
}

.shares-outstanding-chart .wrapper .stock-price-chart {
  height: calc(var(--qualityHalfHeight) - 35px);
  width: var(--metricSharesChartWidth);
}

.shares-outstanding-chart .selector label {
  margin: auto 10px auto 30px;
  font-weight: 600;
  /* font-size: 1.1rem; */
  color: var(--fontColor);
}

/** Quarterly / annual buttons */
.shares-outstanding-chart .selector .selectors button {
  margin: 5px 5px 0px 5px;
  color: rgba(208, 211, 219, 0.6);
  background-color: rgba(30, 34, 45, 0.6);
  border: none;
  border-radius: 30px;
  font-size: 0.8rem;
  transition: color 0.3s ease, background-color 0.3s ease;
}

/** Quarterly / annual buttons */
.shares-outstanding-chart .selector .selectors button:hover {
  color: var(--fontColor);
  border: none;
}

/** Quarterly / annual buttons */
.shares-outstanding-chart .selector .selectors .selected {
  color: var(--fontColor);
  background-color: rgba(30, 34, 45, 1);
  border: none;
}
