* {
  --qualityHalfHeight: calc(var(--metricInnerSubcontainerHeight) / 2);
  --qualityHalfWidth: var(--metricInnerSubcontainerWidth);
}

.key-metrics-container .quality-subcontainer {
  margin: auto;

  height: var(--metricInnerSubcontainerHeight);
  width: var(--qualityHalfWidth);

  /*! FLEX */
  display: flex;
  flex-direction: column;

  /* display: grid;  */
  /** Grid size */
  /* grid-template-columns: 25%; */

  /* TODO color*/
  background-color: rgba(255, 255, 255, 0.2);
}

.quality-subcontainer .qualityhalf {
  height: var(--qualityHalfHeight);
  width: var(--qualityHalfWidth);

  /* TODO color*/
  background-color: rgba(255, 255, 255, 0.2);
}

/*
*==================================
*      QUALITY UPPER HALF
*==================================
*/

.quality-subcontainer .upper {
  display: flex;
}

/** Container of the two pie charts*/
.quality-subcontainer .upper .roic-chart {
}
