.search-table {
  z-index: 99 !important;
  position: absolute;
  top: 7vh;
  right: 12.5vw;
  background-color: #020522;
  padding: 1rem;
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(3);
  grid-template-rows: auto;
  font-weight: 300;
}

.search-cell {
  border: 0.1rem solid white;
  padding: 0.25rem;
  width: 10vw;
}

.search-cell2 {
  border: 0.1rem solid white;
  padding: 0.25rem;
  width: 50vw;
}

.search-noresults {
  border: 0.1rem solid white;
  padding: 0.25rem;
  width: 70vw;
}

.search-row:hover {
  background-color: #710505;
}
