/*
==================================
      FIGMA COLOR PALLET
=================================

//* Note if you would like to add colors, please do,
//* also if you would like to change opacity simply
//* use 'rgba(--color, 0.5)' in the scss / css file
//* of your choice. It will work either way!

*/

:root {
  /* BACKGROUND COLORS */
  --bgPrimary: rgb(19, 23, 34);
  --bgSecondary: rgb(30, 34, 45);
  --bgAccent: #434651; /** rgba(67, 70, 81, 1) */

  /* FONT COLORS */
  --fontColor: #d0d3db; /** rgba(208, 211, 219, 1) */
  --fontHighlight: #2962fe;

  /* SHADES OF BLUE_ */
  --blueShade1: #275be8; /** rgba(39, 91, 232, 1) */
  --blueShade2: #2962fe; /** rgba(41, 98, 254, 1) */
  --blueShade3: #2bbaff;
  --blueShade4: #26c5d9;
  --blueShade5: rgb(24, 144, 255);
  --blueShade6: rgb(48, 145, 236);

  /* SHADES OF GREEN_ */
  --greenShade1: #00887b; /** rgba(0, 136, 123, 1)*/
  --greenShade2: #34b87d; /** rgba(52, 184, 125, 1)*/
  --greenShade3: #00bea4; /** rgba(0, 190, 164, 1)*/
  --greenShade4: #2cdd9b; /** rgba(44, 221, 155, 1)*/
  --greenShade5: #4cae50;

  /* SHADES OF RED_ */
  --redShade1: #cf3935; /** rgba(207, 57, 53, 1) */
  --redShade2: #f34336;
  --redShade3: #fe5252;
  --redShade4: #e34f32;

  /* SHADES OF ORANGE_ */
  --orangeShade1: #fe9700;
  --orangeShade2: #faad14; /** rgba(250, 173, 20, 1)*/

  /* OTHER COLORS */
  --pinkShade1: #f38eb0; /** rgba(243, 142, 176, 1)*/
  --purpleShade2: #a900fe; /** rgba(169, 0, 254, 1)*/
}

/*
*==================================
*        Border Shadow Effects
*==================================
*/

.shadow {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
}

.shadow:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.shadow-nohover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
}

.shadow-deep {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.shadow-deep:hover {
  box-shadow: 0 14px 22px 0 rgba(0, 0, 0, 0.2);
}

.shadow-deep-nohover {
  box-shadow: 0 10px 18px 0 rgba(0, 0, 0, 0.2);
}

.shadow-wild-nohover {
  box-shadow: 0 16px 26px 0 rgba(0, 0, 0, 0.2);
}

/*
*==================================
*      Zooming Effects
*==================================
*/

.zoomable-lg :hover {
  transform: scale(1.1);
}

.zoomable-med:hover {
  transform: scale(1.05);
}

.zoomable:hover {
  transform: scale(1.005);
}

.zoomable-lg,
.zoomable-med,
.zoomable {
  transition: transform 0.3s ease;
}

/*
  *==================================
  *         Slide Loading
  *================================== 
  */

.slide-loading {
  animation: slide-loading 0.5s ease-in;
}

@keyframes slide-loading {
  0% {
    transform: skewX(53deg) translateX(-100%);
    opacity: 0;
  }
  60% {
    transform: translateX(0px);
  }
  62% {
    transform: skewX(0deg) translateX(30px);
  }
  70% {
    transform: skew(-20deg);
  }
  80% {
    transform: skew(0deg) translate(0);
  }
  90% {
    transform: skew(-5deg);
  }

  100% {
    transform: skew(0deg);
  }
}

.cpointer {
  cursor: pointer;
}
