//*==================================
//*      FIGMA COLOR PALLET
//*==================================

//* Note if you would like to add colors, please do,
//* also if you would like to change opacity simply
//* use 'rgba($color, 0.5)' in the scss / css file
//* of your choice. It will work either way!

//* BACKGROUND COLORS
$bg-primary: #131722;
$bg-secondary: #1e222d;
$bg-accent: #434651;

//* FONT COLORS
$font-color: #d0d3db;
$font-highlight: #2962fe;

//* SHADES OF BLUE_
$blue-shade-1: #275be8;
$blue-shade-2: #2962fe;
$blue-shade-3: #2bbaff;
$blue-shade-4: #26c5d9;
$blue-shade-5: #1890ff;
$blue-shade-6: #3091ec;

//* SHADES OF GREEN_
$green-shade-1: #00887b;
$green-shade-2: #34b87d;
$green-shade-3: #00bea4;
$green-shade-4: #2cdd9b;
$green-shade-5: #4cae50;

//* SHADES OF RED_
$red-shade-1: #cf3935;
$red-shade-2: #f34336;
$red-shade-3: #fe5252;
$red-shade-4: #e34f32;

//* SHADES OF ORANGE_
$orange-shade-1: #fe9700;
$orange-shade-2: #faad14;

//* OTHER COLORS
$pink-shade-1: #f38eb0;
$purple-shade-2: #a900fe;
